<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" margin (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <img [src]="place.imageUrl">
          </ion-item>
          <ion-item>
            Nama : {{place.title}}
          </ion-item>
          <ion-item>
            Deskripsi :{{place.description}}
          </ion-item>
          <ion-item>
              Harga :{{place.price | currency}}
            </ion-item>
            <ion-button expand="full"(click)="onBookPlace()">Book</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
